<table mat-table [dataSource]="dataSourceTable" matSort class="mat-cell advance-table">

    @for (column of columnDefinitions; track column) {
    <!-- Skip rendering if column.label is "select" or "action" -->
    @if (column.type === 'check' || column.type === 'actionBtn') {
    <!-- Skip this column -->
    } @else {
    @if (column.def === 'name') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header
            [style.min-width.px]="230" [style.max-width.px]="300">
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell  [style.min-width.px]="230" [style.max-width.px]="300" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row.name">
            <!--span class="mobile-label"></!--span-->
            <span class="truncate-text">
                {{ row.name }}
            </span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'phone') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="truncate-text"> {{ row[column.def] }}</span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'email') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header 
            [style.min-width.px]="210" [style.max-width.px]="600">
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell [style.min-width.px]="210" [style.max-width.px]="600" *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label"></span>
             <!--mat-icon class="tbl-icon material-icons-outlined col-red">mail</!--mat-icon-->
             <span class="truncate-text">
                {{ row[column.def] }}
            </span>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'file') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label"></span>
            <button mat-icon-button color="accent" class="text-blue-500 tbl-action-btn" (click)="$event.stopPropagation(); openCvFile(row.id)">
                <app-feather-icons [icon]="'file-text'" class="text-blue-900" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.type === 'button') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)" [matTooltip]="row[column.def]">
            <span class="mobile-label"></span>
            <button mat-button color="primary" (click)="$event.stopPropagation()">Details</button>
        </mat-cell>
    </ng-container>
    } @else {
    @if (column.def === 'statut') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 
            <span class="column-label truncate-text">{{column.label}}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label"></span>
            <div>
                @switch (row.statut) {
                @case ('ACCEPTED') {
                <div>
                    <span class="badge badge-solid-accepted">{{ row.statut }}</span>
                </div>
                }
                @case ('REJECTED') {
                <div>
                    <span class="badge badge-solid-red">{{ row.statut }}</span>
                </div>
                }
                @case ('SCHEDULED') {
                <div>
                    <span class="badge badge-solid-orange">{{ row.statut }}</span>
                </div>
                }
                @case ('VIVIER') {
                <div>
                    <span class="badge badge-solid-blue">{{ row.statut }}</span>
                </div>
                }
                @case ("CONTACTED") {
                <div>
                    <span class="badge badge-solid-contacted">{{ row.statut | lowercase }}</span>
                </div>
                }
                @case ("IN_PROGRESS") {
                <div>
                    <span class="badge badge-solid-in-progress">in progress</span>
                </div>
                }
                @case ("CANCELLED") {
                <div>
                    <span class="badge badge-solid-yellow">{{ row.statut }}</span>
                </div>
                }
                }
            </div>
        </mat-cell>
    </ng-container>
    } 
    @else {
    @if (column.type === 'date') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label"></span>
            <mat-icon class="tbl-icon material-icons-outlined col-brown">calendar_today</mat-icon>
            <span class="truncate-text">
                {{ row[column.def] | date: 'MM/dd/yyyy' }}
            </span>
        </mat-cell>
    </ng-container>
    }
    
    @else {
    @if (column.type === 'experience') {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label"></span>
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="truncate-text text-blue-700 font-medium">
                    {{ row[column.def] || 'No experience' }}
                </span>
            </div>
        </mat-cell>
    </ng-container>
    }
    
    @else {
    <ng-container [matColumnDef]="column.def">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="column-label truncate-text">{{ column.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" (contextmenu)="onContextMenu($event, row)">
            <span class="mobile-label"></span>
            <span class="truncate-text">{{ row[column.def] ? row[column.def] : 'Not available' }}</span>
        </mat-cell>
    </ng-container>
    }
    }
    }
    }
    }
    }
    }
    }
    }
}
    
    <!-- actions -->
    <ng-container matColumnDef="actions">
        <mat-header-cell class="column-label pr-0" *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
            <button mat-icon-button color="" (click)="$event.stopPropagation()" (click)="openHistory(row)">
                <app-feather-icons [icon]="'refresh-ccw'" [class]="'tbl-fav-loop'"></app-feather-icons>
            </button>
            <button [disabled]="row.editable === false" mat-icon-button color="" (click)="$event.stopPropagation()" (click)="editCall(row)">
                <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
            <button *ngIf="row.hirable === false" mat-icon-button color="" (click)="$event.stopPropagation()" (click)="newHiringProcess(row)">
                <app-feather-icons [icon]="'user-plus'" [class]="'tbl-fav-edit'"></app-feather-icons>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="hover:bg-gray-200!" [@rowsAnimation]="" *matRowDef="let row; columns: displayedColumns;" (click)="openHistory(row)"
        [style.cursor]="'pointer'" matRipple>
    </mat-row>
</table>