<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recruteur Dashboard</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
  <div class="dashboard-container">
    <!-- Sidebar -->
    <app-sidebar 
      [activeItem]="activeItem"
      [isAuthenticated]="isAuthenticated"
      [userName]="currentUser?.name || 'Anouar Khemeja'"
      [userRole]="currentUser?.role || 'Recruteur'"
      (logoutEvent)="logout()"
      (activeItemChange)="setActiveItem($event)">
    </app-sidebar>

    <!-- Main Content -->
    <section class="content">
      <!--<div class="content-block">
        <div class="block-header">Recruteur Dashboard</div>

        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <app-attendance-chart></app-attendance-chart>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
            <app-chart-card4 [maleCount]="6" [femaleCount]="4"></app-chart-card4>
          </div>
          <div class="col-md-4 col-lg-4">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>Candidates List</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ng-scrollbar style="height: 500px" visibility="hover">
                  <app-emp-status></app-emp-status>
                </ng-scrollbar>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-4 col-lg-4">
            <mat-card>
              <mat-card-header class="header-menu">
                <mat-card-title>interviews Schedule</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ng-scrollbar style="height: 375px" visibility="hover">
                  <app-schedule-card [schedules]="examList"></app-schedule-card>
                </ng-scrollbar>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-lg-4">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>Average interview Attendance</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <apx-chart [series]="performanceRateChartOptions.series!" [chart]="performanceRateChartOptions.chart!"
                  [xaxis]="performanceRateChartOptions.xaxis!" [stroke]="performanceRateChartOptions.stroke!"
                  [colors]="performanceRateChartOptions.colors!" [dataLabels]="performanceRateChartOptions.dataLabels!"
                  [legend]="performanceRateChartOptions.legend!" [markers]="performanceRateChartOptions.markers!"
                  [grid]="performanceRateChartOptions.grid!" [yaxis]="performanceRateChartOptions.yaxis!"
                  [tooltip]="performanceRateChartOptions.tooltip!" [title]="performanceRateChartOptions.title!">
                </apx-chart>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-lg-4">
            <app-chart-card1 [title]="title2" [subtitle]="subtitle2"></app-chart-card1>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-8 col-lg-8">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>Job Achievements</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ng-scrollbar style="height: 350px" visibility="hover">
                  <app-table-card [dataSource]="sportData" [columnDefinitions]="sportColumnDefinitions"></app-table-card>
                </ng-scrollbar>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4 col-lg-4">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>Staff List</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ng-scrollbar style="height: 350px" visibility="hover">
                  <app-emp-status1></app-emp-status1>
                </ng-scrollbar>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-md-12 col-lg-12">
            <mat-card>
              <mat-card-header class="header-style">
                <mat-card-title>New Condidate List</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ng-scrollbar style="height: 450px" visibility="hover">
                  <app-table-card [dataSource]="studentData" [columnDefinitions]="studentColumnDefinitions"></app-table-card>
                </ng-scrollbar>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>-->
    </section>
  </div>
</body>
</html>