  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #2f3e9e;
    text-align: center;
    padding : 18px;
  }

 .dialog-form {
  display: flex !important;
  flex-direction: column;
  gap: 50px;
  padding: 32px !important;
  //min-width: 480px;
   width:30vw;
  //max-width: 800px;
  font-family: 'Segoe UI', Roboto, Arial, sans-serif;
  background-color: #f4f3f3;
 
}

 input, mat-select {
    font-size: 14px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccd2e3;
    background-color: #f9fafc;
    transition: box-shadow 0.3s ease;

    &:focus-within {
      outline: none;
      box-shadow: 0 0 0 2px rgba(47, 62, 158, 0.2);
    }
  }

//   mat-form-field {
//     width: 100%;
//   }

  ::ng-deep .mat-mdc-select {
    background-color: #f9fafc;
    border-radius: 6px;
  }

  ::ng-deep .mat-mdc-select-trigger {
    padding: 1px;
  }

  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 20px;

    button {
      padding: 10px 22px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      text-transform: none;
      transition: background-color 0.2s ease;

      &:first-child {
        background-color: #2f3e9e;
        color: white;

        &:hover {
          background-color: #1e2b80;
        }
      }

      &:last-child {
        background-color: #e0e0e0;
        color: #333;

        &:hover {
          background-color: #c4c4c4;
        }
      }
    }
  }

//   @media (max-width: 480px) {
//     min-width: 90vw;
//     padding: 24px;
//   }